@page "/add-tbl-ic-inventory"
@layout MainLayout
@inherits ErpCan.Pages.AddTblIcInventoryComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent Container="contentContainer0">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@(tblicinventory)" TItem="ErpCan.Models.CanErpDbAt132.TblIcInventory" Visible="@(tblicinventory != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Warehouse_FK" style="width: 100%" Text="Tbl Ic Warehouse">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblIcWarehousesResult)" Placeholder="Choose TblIcWarehouse" style="display: block; width: 100%" TextProperty="WarehouseName" @bind-Value="@((tblicinventory.Warehouse_FK))" ValueProperty="Warehouse_ID" Name="Warehouse_FK">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Warehouse_FK" style="position: absolute" Text="Warehouse_FK is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Category_FK" style="width: 100%" Text="Tbl Ic Category">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblIcCategoriesResult)" Placeholder="Choose TblIcCategory" style="display: block; width: 100%" TextProperty="CategoryText" @bind-Value="@((tblicinventory.Category_FK))" ValueProperty="Category_ID" Name="Category_FK">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Category_FK" style="position: absolute" Text="Category_FK is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Classifi_FK" style="width: 100%" Text="Tbl Ic Classification">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblIcClassificationsResult)" Placeholder="Choose TblIcClassification" style="width: 100%" TextProperty="Classifi_Name" @bind-Value="@((tblicinventory.Classifi_FK))" ValueProperty="Classifi_ID" Name="Classifi_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Item_SK" style="width: 100%" Text="Tbl Gn Product">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblGnProductsResult)" Placeholder="Choose TblGnProduct" style="width: 100%" TextProperty="Product_ID" @bind-Value="@((tblicinventory.Item_FK))" ValueProperty="Product_SEQ" Name="Item_SK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Product_Code" style="width: 100%" Text="Product Code">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="15" style="width: 100%" @bind-Value="@((tblicinventory.Product_Code))" Name="Product_Code">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ProductDesc" style="width: 100%" Text="Product Desc">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="30" style="width: 100%" @bind-Value="@((tblicinventory.ProductDesc))" Name="ProductDesc">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="FixAsset" style="width: 100%" Text="Fix Asset">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox TriState="true" @bind-Value="@((tblicinventory.FixAsset))" Name="FixAsset">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Unit_FK" style="width: 100%" Text="Tbl Ic Unit">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblIcUnitsResult)" Placeholder="Choose TblIcUnit" style="width: 100%" TextProperty="UnitText" @bind-Value="@((tblicinventory.Unit_FK))" ValueProperty="Unit_SEQ" Name="Unit_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="QuantityPerUnit" style="width: 100%" Text="Quantity Per Unit">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.QuantityPerUnit))" Name="QuantityPerUnit">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Location" style="width: 100%" Text="Location">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="width: 100%" @bind-Value="@((tblicinventory.Location))" Name="Location">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Taxable" style="width: 100%" Text="Taxable">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox TriState="true" @bind-Value="@((tblicinventory.Taxable))" Name="Taxable">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TaxRate" style="width: 100%" Text="Tax Rate">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.TaxRate))" Name="TaxRate">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ROP" style="width: 100%" Text="Rop">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.ROP))" Name="ROP">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="EOQ" style="width: 100%" Text="Eoq">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.EOQ))" Name="EOQ">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="UnitPrice" style="width: 100%" Text="Unit Price">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.UnitPrice))" Name="UnitPrice">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="GL_Asset" style="width: 100%" Text="Gl Asset">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="7" style="width: 100%" @bind-Value="@((tblicinventory.GL_Asset))" Name="GL_Asset">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="GL_COGS" style="width: 100%" Text="Gl Cogs">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="7" style="width: 100%" @bind-Value="@((tblicinventory.GL_COGS))" Name="GL_COGS">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="GL_Sales" style="width: 100%" Text="Gl Sales">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="7" style="width: 100%" @bind-Value="@((tblicinventory.GL_Sales))" Name="GL_Sales">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="GL_NonTaxSales" style="width: 100%" Text="Gl Non Tax Sales">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="7" style="width: 100%" @bind-Value="@((tblicinventory.GL_NonTaxSales))" Name="GL_NonTaxSales">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LastSaleDate" style="width: 100%" Text="Last Sale Date">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@((tblicinventory.LastSaleDate))" Name="LastSaleDate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LastPODate" style="width: 100%" Text="Last Po Date">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@((tblicinventory.LastPODate))" Name="LastPODate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LastReceiptDate" style="width: 100%" Text="Last Receipt Date">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@((tblicinventory.LastReceiptDate))" Name="LastReceiptDate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LastCost" style="width: 100%" Text="Last Cost">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.LastCost))" Name="LastCost">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="EverageCost" style="width: 100%" Text="Everage Cost">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.EverageCost))" Name="EverageCost">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Qty_On_Order" style="width: 100%" Text="Qty On Order">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.Qty_On_Order))" Name="Qty_On_Order">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Qty_In_Stock" style="width: 100%" Text="Qty In Stock">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.Qty_In_Stock))" Name="Qty_In_Stock">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Qty_On_Hand" style="width: 100%" Text="Qty On Hand">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.Qty_On_Hand))" Name="Qty_On_Hand">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Qty_Allocated" style="width: 100%" Text="Qty Allocated">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.Qty_Allocated))" Name="Qty_Allocated">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="MTD_Qty_Sold" style="width: 100%" Text="Mtd Qty Sold">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.MTD_Qty_Sold))" Name="MTD_Qty_Sold">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="MTD_Gross_Sales" style="width: 100%" Text="Mtd Gross Sales">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.MTD_Gross_Sales))" Name="MTD_Gross_Sales">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="MTD_COGS" style="width: 100%" Text="Mtd Cogs">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.MTD_COGS))" Name="MTD_COGS">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="YTD_Qty_Sold" style="width: 100%" Text="Ytd Qty Sold">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.YTD_Qty_Sold))" Name="YTD_Qty_Sold">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="YTD_Gross_Sales" style="width: 100%" Text="Ytd Gross Sales">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.YTD_Gross_Sales))" Name="YTD_Gross_Sales">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="YTD_COGS" style="width: 100%" Text="Ytd Cogs">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.YTD_COGS))" Name="YTD_COGS">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="YTD_Qty_Returned" style="width: 100%" Text="Ytd Qty Returned">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.YTD_Qty_Returned))" Name="YTD_Qty_Returned">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LTD_Qty_Sold" style="width: 100%" Text="Ltd Qty Sold">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.LTD_Qty_Sold))" Name="LTD_Qty_Sold">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LTD_Gross_Sales" style="width: 100%" Text="Ltd Gross Sales">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.LTD_Gross_Sales))" Name="LTD_Gross_Sales">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LTD_COGS" style="width: 100%" Text="Ltd Cogs">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.LTD_COGS))" Name="LTD_COGS">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="NetGrossRate" style="width: 100%" Text="Net Gross Rate">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.NetGrossRate))" Name="NetGrossRate">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="VendorNumber_FK" style="width: 100%" Text="Vendor Number Fk">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.VendorNumber_FK))" Name="VendorNumber_FK">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LastUpdatedDate" style="width: 100%" Text="Last Updated Date">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@((tblicinventory.LastUpdatedDate))" Name="LastUpdatedDate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="LastUpdatedBy_FK" style="width: 100%" Text="Last Updated By Fk">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblicinventory.LastUpdatedBy_FK))" Name="LastUpdatedBy_FK">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Notes" style="width: 100%" Text="Notes">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@((tblicinventory.Notes))" Name="Notes">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Inactive" style="width: 100%" Text="Inactive">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox TriState="true" @bind-Value="@((tblicinventory.Inactive))" Name="Inactive">
                </RadzenCheckBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
