@page "/add-tbl-gn-ship-vium"
@layout MainLayout
@inherits ErpCan.Pages.AddTblGnShipViumComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent Container="contentContainer0">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@(tblgnshipvium)" TItem="ErpCan.Models.CanErpDbAt132.TblGnShipVium" Visible="@(tblgnshipvium != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ShipVia_ID" style="width: 100%" Text="Ship Via ID">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="25" style="display: block; width: 100%" @bind-Value="@((tblgnshipvium.ShipVia_ID))" Name="ShipVia_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="ShipVia_ID" style="position: absolute" Text="ShipVia_ID is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Description" style="width: 100%" Text="Diễn giải">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@((tblgnshipvium.Description))" Name="Description">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
