@page "/tbl-po-purchase-order"
@layout MainLayout
@inherits ErpCan.Pages.TblPoPurchaseOrderComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent Container="contentContainer0">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Po Purchase Order">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getTblPoPurchaseOrdersResult)" TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" RowSelect="@Grid0RowSelect" RowExpand="@Grid0RowExpand">
          <Columns>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="PO_ID" Title="PO ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="PODate" FormatString="{0:d}" Title="PO Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="CreatedBy_FK" SortProperty="TblGnAddressBook.AddressBook_ID" FilterProperty="TblGnAddressBook.AddressBook_ID" Title="Tbl Gn Address Book">
              <Template Context="data">
              @data.TblGnAddressBook?.AddressBook_ID
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="POStatus_FK" SortProperty="TblPoOrderStatus.POStatusText" FilterProperty="TblPoOrderStatus.POStatusText" Title="Tbl Po Order Status">
              <Template Context="data">
              @data.TblPoOrderStatus?.POStatusText
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="Vendor_FK" SortProperty="TblPoVendor.LastName" FilterProperty="TblPoVendor.LastName" Title="Tbl Po Vendor">
              <Template Context="data">
              @data.TblPoVendor?.LastName
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="Description" Title="Description">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="Incoterm_FK" SortProperty="TblGnIncoterm.Incoterm_Name" FilterProperty="TblGnIncoterm.Incoterm_Name" Title="Tbl Gn Incoterm">
              <Template Context="data">
              @data.TblGnIncoterm?.Incoterm_Name
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="ShipVia_FK" SortProperty="TblGnShipVium.ShipVia_ID" FilterProperty="TblGnShipVium.ShipVia_ID" Title="Tbl Gn Ship Vium">
              <Template Context="data">
              @data.TblGnShipVium?.ShipVia_ID
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="PaymentTerm_FK" SortProperty="TblGnPaymentTerm.PaymentTerm_ID" FilterProperty="TblGnPaymentTerm.PaymentTerm_ID" Title="Tbl Gn Payment Term">
              <Template Context="data">
              @data.TblGnPaymentTerm?.PaymentTerm_ID
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="PaymentType_FK" SortProperty="TblGnPaymentType.PaymentType_ID" FilterProperty="TblGnPaymentType.PaymentType_ID" Title="Tbl Gn Payment Type">
              <Template Context="data">
              @data.TblGnPaymentType?.PaymentType_ID
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="Buyer_FK" SortProperty="TblGnAddressBook1.AddressBook_ID" FilterProperty="TblGnAddressBook1.AddressBook_ID" Title="Tbl Gn Address Book">
              <Template Context="data">
              @data.TblGnAddressBook1?.AddressBook_ID
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="TaxYN" Title="Tax YN">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="TaxtRate" Title="Taxt Rate">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="Department_FK" Title="Department FK">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Property="PO_Amount" Title="PO Amount">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder" Filterable="false" Sortable="false" Bubble="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, erpCanModelsCanErpDbAt132TblPoPurchaseOrder))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
          <Template Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrder">
            <RadzenHeading Size="H1" Text="TblPoPurchaseOrderDetails">
            </RadzenHeading>
            <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@((args) =>ChildAddButtonClick(args, erpCanModelsCanErpDbAt132TblPoPurchaseOrder))">
            </RadzenButton>
            <RadzenGrid @ref="grid1" Data="@(erpCanModelsCanErpDbAt132TblPoPurchaseOrder.TblPoPurchaseOrderDetails)" AllowFiltering="true" AllowPaging="true" AllowSorting="true" TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" RowSelect="@((args) =>Grid1RowSelect(args, erpCanModelsCanErpDbAt132TblPoPurchaseOrder))">
              <Columns>
                <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail" Property="PO_FK" SortProperty="TblPoPurchaseOrder.POStatus_FK" FilterProperty="TblPoPurchaseOrder.POStatus_FK" Title="Tbl Po Purchase Order">
                  <Template Context="data">
                  @data.TblPoPurchaseOrder?.POStatus_FK
                  </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail" Property="Inventory_FK" SortProperty="TblIcInventory.Warehouse_FK" FilterProperty="TblIcInventory.Warehouse_FK" Title="Tbl Ic Inventory">
                  <Template Context="data">
                  @data.TblIcInventory?.Warehouse_FK
                  </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail" Property="Unit_Price" Title="Unit Price">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail" Property="QtyOrdered" Title="Qty Ordered">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail" Property="QtyReceived" Title="Qty Received">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail" Property="SubTotal" Title="Sub Total">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail" Property="TaxRate" Title="Tax Rate">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail" Property="DiscountPercent" Title="Discount Percent">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail" Property="Discount" Title="Discount">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail" Property="Tax" Title="Tax">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                  <Template Context="erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>ChildGridDeleteButtonClick(args, erpCanModelsCanErpDbAt132TblPoPurchaseOrderDetail))">
                    </RadzenButton>
                  </Template>
                </RadzenGridColumn>
              </Columns>
            </RadzenGrid>
          </Template>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
