@page "/tbl-po-rr-order-details"
@layout MainLayout
@inherits ErpCan.Pages.TblPoRrOrderDetailsComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent Container="contentContainer0">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Tbl Po Rr Order Details">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getTblPoRrOrderDetailsResult)" TItem="ErpCan.Models.CanErpDbAt132.TblPoRrOrderDetail" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoRrOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoRrOrderDetail" Property="RR_FK" SortProperty="TblPoRecReport.PO_ID" FilterProperty="TblPoRecReport.PO_ID" Title="Tbl Po Rec Report" Type="string">
              <Template Context="data">
              @data.TblPoRecReport?.PO_ID
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoRrOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoRrOrderDetail" Property="Inventory_FK" SortProperty="TblIcInventory.Warehouse_FK" FilterProperty="TblIcInventory.Warehouse_FK" Title="Tbl Ic Inventory" Type="string">
              <Template Context="data">
              @data.TblIcInventory?.Warehouse_FK
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoRrOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoRrOrderDetail" Format="decimal" Property="Unit_Price" Title="Unit Price" Type="number">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoRrOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoRrOrderDetail" Format="double" Property="QtyOrdered" Title="Qty Ordered" Type="number">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoRrOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoRrOrderDetail" Format="double" Property="QtyReceived" Title="Qty Received" Type="number">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ErpCan.Models.CanErpDbAt132.TblPoRrOrderDetail" Context="erpCanModelsCanErpDbAt132TblPoRrOrderDetail" Filterable="false" Sortable="false" Bubble="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="erpCanModelsCanErpDbAt132TblPoRrOrderDetail">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, erpCanModelsCanErpDbAt132TblPoRrOrderDetail))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
