<<<<<<< Updated upstream:radzen-app/server/Pages/AddTblHpTinhTp.razor
﻿@page "/add-tbl-hp-tinh-tp"
@layout MainLayout
@inherits CanErp2.Pages.AddTblHpTinhTpComponent
=======
﻿@page "/add-tbl-hp-quan"
@layout MainLayout
@inherits CanErpHp.Pages.AddTblHpQuanComponent
>>>>>>> Stashed changes:hr-pr/server/Pages/AddTblHpQuan.razor

@using Radzen
@using Radzen.Blazor
@using CanErpHp.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
<<<<<<< Updated upstream:radzen-app/server/Pages/AddTblHpTinhTp.razor
        <RadzenTemplateForm Data="@tblhptinhtp" Visible="@(tblhptinhtp != null)" TItem="CanErp2.Models.DbAtVdc2.TblHpTinhTp" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tinh Tp Id" Component="TinhTP_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="5" style="display: block; width: 100%" @bind-Value="@(tblhptinhtp.TinhTP_ID)" Name="TinhTP_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TinhTP_ID" Text="TinhTP_ID is required" style="position: absolute">
=======
        <RadzenTemplateForm Data="@tblhpquan" Visible="@(tblhpquan != null)" TItem="CanErpHp.Models.DbAtVdc2.TblHpQuan" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Quan Id" Component="Quan_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="3" style="display: block; width: 100%" @bind-Value="@(tblhpquan.Quan_ID)" Name="Quan_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Quan_ID" Text="Quan_ID is required" style="position: absolute">
>>>>>>> Stashed changes:hr-pr/server/Pages/AddTblHpQuan.razor
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
<<<<<<< Updated upstream:radzen-app/server/Pages/AddTblHpTinhTp.razor
                <RadzenLabel Text="Tinh Tp Name" Component="TinhTP_Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="30" style="width: 100%" @bind-Value="@(tblhptinhtp.TinhTP_Name)" Name="TinhTP_Name">
=======
                <RadzenLabel Text="Quan Name" Component="Quan_Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="35" style="width: 100%" @bind-Value="@(tblhpquan.Quan_Name)" Name="Quan_Name">
>>>>>>> Stashed changes:hr-pr/server/Pages/AddTblHpQuan.razor
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Description" Component="Description" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<<<<<<< Updated upstream:radzen-app/server/Pages/AddTblHpTinhTp.razor
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(tblhptinhtp.Description)" Name="Description">
=======
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(tblhpquan.Description)" Name="Description">
>>>>>>> Stashed changes:hr-pr/server/Pages/AddTblHpQuan.razor
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
