<<<<<<< Updated upstream:radzen-app/server/Pages/EditTblHpTinhTp.razor
﻿@page "/edit-tbl-hp-tinh-tp/{TinhTP_ID}"
@layout MainLayout
@inherits CanErp2.Pages.EditTblHpTinhTpComponent
=======
﻿@page "/edit-tbl-hp-quan/{Quan_ID}"
@layout MainLayout
@inherits CanErpHp.Pages.EditTblHpQuanComponent
>>>>>>> Stashed changes:hr-pr/server/Pages/EditTblHpQuan.razor

@using Radzen
@using Radzen.Blazor
@using CanErpHp.Models.DbAtVdc2
<RadzenContent Container="main">
  <ChildContent>
    <div style="" class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
<<<<<<< Updated upstream:radzen-app/server/Pages/EditTblHpTinhTp.razor
        <RadzenTemplateForm TItem="CanErp2.Models.DbAtVdc2.TblHpTinhTp" Data="@tblhptinhtp" Visible="@(tblhptinhtp != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tinh Tp Id" Component="TinhTP_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="5" style="display: block; width: 100%" @bind-Value="@(tblhptinhtp.TinhTP_ID)" Name="TinhTP_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TinhTP_ID" Text="TinhTP_ID is required" style="position: absolute">
=======
        <RadzenTemplateForm TItem="CanErpHp.Models.DbAtVdc2.TblHpQuan" Data="@tblhpquan" Visible="@(tblhpquan != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Quan Id" Component="Quan_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="3" style="display: block; width: 100%" @bind-Value="@(tblhpquan.Quan_ID)" Name="Quan_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Quan_ID" Text="Quan_ID is required" style="position: absolute">
>>>>>>> Stashed changes:hr-pr/server/Pages/EditTblHpQuan.razor
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
<<<<<<< Updated upstream:radzen-app/server/Pages/EditTblHpTinhTp.razor
                <RadzenLabel Text="Tinh Tp Name" Component="TinhTP_Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="30" style="width: 100%" @bind-Value="@(tblhptinhtp.TinhTP_Name)" Name="TinhTP_Name">
=======
                <RadzenLabel Text="Quan Name" Component="Quan_Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="35" style="width: 100%" @bind-Value="@(tblhpquan.Quan_Name)" Name="Quan_Name">
>>>>>>> Stashed changes:hr-pr/server/Pages/EditTblHpQuan.razor
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Description" Component="Description" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<<<<<<< Updated upstream:radzen-app/server/Pages/EditTblHpTinhTp.razor
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(tblhptinhtp.Description)" Name="Description">
=======
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(tblhpquan.Description)" Name="Description">
>>>>>>> Stashed changes:hr-pr/server/Pages/EditTblHpQuan.razor
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button3Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
